:root{
  --primary-color: #0c4a6e;
  --accent-color: #047857;
  --text-color: #fff;
  --color-grey: #f1f5f9;
  --color-grey-light: #e5e5e5;
  --color-grey-dark: #64748b;
  

  --shadow-dark:  0 2rem 6rem rgba(black, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0,0,0, 0.06);
  --line: 1px solid var(--color-grey-light);
}