.content {
  width: 100%;
  display: flex;
  flex: 1;

 
  .links__container{
    padding: 2rem 2rem;
    //min-width: 15%;
    border-right: 1px solid white;

    & > h2{
      margin-top: 3rem;
      font-weight: 700;
      font-size: 1.2rem;
    }
  }

  .tasks__container{
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem;
    gap: 2rem;

    &--top {
      display: flex;
      justify-content: space-between;
      align-items: center;
    
      & > .active {
          background-color: var(--primary-color);
          color: var(--text-color);
          border-radius: 10px;

          &:hover{
            background-color: var(--accent-color);
          }
      }

      & > h2 {
        font-weight: 700;
        font-size: 1.6rem;
      }
    }
    
    &--bottom{
      display: grid;
      grid-gap:2rem;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

      & > .task__box {
        max-width: 200px;
        background: white;
        border-radius: 5px;
        border-top: 5px solid var(--primary-color);
        box-shadow: 0px 15px 40px -25px var(--color-grey-dark);
        padding: 1.5rem 1rem 1rem 1rem;
        transition: all .3s ease-in-out;


        .tag {
          display: inline-block;
          background-color: var(--primary-color);
          color: var(--text-color);
          font-weight: 600;
          font-size: 0.75rem;
          padding: 0.5em 0.75em;
          line-height: 1;
          border-radius: 6px;
          & + * {
            margin-top: 1rem;
          }

          &::before{
            content: "Active";
          }
        }

        

        & + .completed > .tag{
          background-color: var(--accent-color);
          &::before{
            content: "Completed";
          }
        }

        &:has(#delete_task:hover) {
          border-top: 5px solid var(--delete-color);
        }

        &:has(#edit_task:hover) {
          border-top: 5px solid var(--primary-color);
        }

        &:hover{
          transform: translateY(-3%);
          border-top: 5px solid var(--accent-color);
        }

        & > h2 {
          font-weight: 700;
          font-size: 1.2rem;
          margin-bottom: .5rem;
        }

        & > img {
          float: right;
          max-height: 50px;
        }

        .task__controls{
          margin-top: 2rem;
          display: flex;      
        }
      }
      & .completed{
        //background: rgba(var(--color-grey-dark), 0.1);
        background: var(--color-grey-light);
        border-top: 5px solid var(--accent-color);

        &:hover{
          background: white;
        }
      }

    }
  }
}



/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;

  & > .btn__control{
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    padding: .5rem 1rem .5rem 0;
  }
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 80px;
  background-color: var(--color-grey-dark);
  font-size: .8rem;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -50px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}